.easy__inner {
  margin-top: 100px;
  margin-bottom: 50px;
  @include flex(center, space-between);
}

.easy__img {
  width: 604px;
  height: 444px;
}

.easy__content {
  max-width: 445px;
}

.easy__heading {
  margin-bottom: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: $sj-blue;
}

.easy__text {
  font-size: 15px;
  line-height: 28px;
  color: $light-sj-blue;
}

@include breakpoint-down(950px) {
  .easy__inner {
    flex-direction: column;
  }

  .easy__content {
    max-width: 700px;
    text-align: center;

  }
}

@include breakpoint-down(768px) {
  .easy__inner {
    margin-right: auto;
    margin-left: auto;
  }

  .easy__img {
    width: 552px;
    height: 410px;
  }

  .easy__content {
    max-width: 700px;
    text-align: center;

  }
}

@include breakpoint-down(500px) {
  .easy__img {
    width: 450px;
    height: 320px;
  }

  .easy__heading {
    font-size: 36px;
    line-height: 36px;
  }
}

@include breakpoint-down(400px) {
  .easy__img {
    width: 350px;
    height: 240px;
  }
}