.footer {
  background-color: $miraga-blue;
  background-image: url("../img/bg-img-hero.png");
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% - -710px) -130px;
}

.footer__inner {
  padding: 31px 0px;
  @include flex(center, space-between);
}

.footer__box {
  max-width: 432px;
  @include flex(center, space-between);
}

.footer-link {
  color: $water-white;
  transition: all 0.3s ease;
  &:hover {
    color: $charm-pink;
    opacity: 1;
  }
  &:active {
    color: $water-white;
    opacity: 1;
  }
}

.footer__socialmedia-list {
  @include list-nostyle;
  @include flex(center, space-between);
}

.footer__socialmedia-item ~ .footer__socialmedia-item {
  margin-left: 24px;
}

.footer__socialmedia-link {
  display: inline-block;
}

.footer__socialmedia-img {
  display: block;
}

.footer__socialmedia-img:hover path {
  fill: $charm-pink;
}


@include breakpoint-down(595px) {
  .footer-nav {
    display: block;
  }
}

@include breakpoint-down(555px) {
  .footer {
    background-position: calc(50% - 0px) 186px;
  }

  .footer__inner {
    padding-top: 41px;
    padding-bottom: 55px;
    flex-direction: column;
  }

  .footer__box {
    flex-direction: column;
  }

  .footer-nav {
    margin: 40px 0;
  }

  .footer-nav-list {
    text-align: center;
    flex-direction: column;
  }

  .nav__item ~ .nav__item{
    margin: 0;
    margin-top: 31px;
  }
}